@charset "utf-8";
:root {
    --form-tmpl-color-default: #169758;
    --form-tmpl-radius-default: 4px;
    --form-tmpl-font-default: MavenPro;
    --form-tmpl-height-default:6vh;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1
}
.form-tmpl{
    --form-tmpl-color: #169758;
    --form-tmpl-radius: 4px;
    --form-tmpl-font: 'MavenPro';
    --form-tmpl-height-default:44px;
}
.form-tmpl-container{position:fixed;display:none;min-height:240px;z-index:99;bottom:0;padding:1rem;max-width:580px;width:100%;left:50%;transform:translateX(-50%)}
.form-tmpl{font-family:var(--form-tmpl-font,--form-tmpl-font-default);background:#fff;min-height:240px;border-radius:6px;padding-bottom:8px}
.form-tmpl-close{text-align:right;padding:6px 8px 0;}
.form-tmpl-close .iconfont{cursor:pointer;font-size:12px;color:#333333;padding:6px;}
.form-subscribe .form-control{margin:12px 0;padding:0 24px;}
.form-contact .form-control{margin:12px 0;padding:0 24px;}
.form-feedback .form-control{margin:12px 0;padding:0 24px;}
.form-appl .form-control{margin:12px 0;padding:0 24px;}
.form-quote .form-control{margin:12px 0;padding:0 24px;}
.form-appt .form-control{margin:12px 0;padding:0 24px;}
.form-rsvp .form-control{margin:12px 0;padding:0 24px;}
.form-control>span{display:inline-block;width:100%;max-height:44px;overflow:hidden;word-break:break-all;padding:0 12px;}
.form-control>input{display:inline-block;width:100%;max-height:44px;padding:0 12px;}
.form-control>input::-moz-placeholder{color:#111111}
.form-control>input::-ms-input-placeholder{color:#111111}
.form-control>input::-webkit-input-placeholder{color:#111111}
.form-control>input::placeholder{color:#111111}
.form-fullname{line-height:40px;color:#333}
.form-fullname input{border:2px solid var(--form-tmpl-color, --form-tmpl-color-default);border-radius:var(--form-tmpl-radius, --form-tmpl-radius-default);}
.form-email{line-height:40px;color:#333}
.form-email input{border:2px solid var(--form-tmpl-color, --form-tmpl-color-default);border-radius:var(--form-tmpl-radius, --form-tmpl-radius-default);}
.form-control .form-button{line-height:40px;text-align:center;margin-top:20px;height:44px;}
.form-button button{display:inline-block;width:100%;font-size:16px;background:var(--form-tmpl-color, --form-tmpl-color-default);color:#fff;border-radius:var(--form-tmpl-radius, --form-tmpl-radius-default);}
.form-thanks{display:none;line-height:32px;text-align:center;color:var(--form-tmpl-color, --form-tmpl-color-default);height:32px;}
.form-thanks>span{max-height:32px;}
.form-control.form-thanks{bottom:0;}
.form-phone{line-height:40px;color:#333}
.form-service{position:relative;line-height:40px;color:#333;max-height:44px;}
.form-service .service-options{position:absolute;display:none;background:#fff;padding:0 12px;max-height:160px;width:calc(100% - 48px);top:42px;border:2px solid var(--form-tmpl-color,--form-tmpl-color-default);overflow:auto}
.service-options .service-option{position:relative;cursor:pointer;max-width:100%;max-height:40px;display:flex;justify-content:space-between}
.service-options .service-option span{max-width:100%;max-height:40px;word-break:break-all;overflow:hidden;display:inline-block}
.service-options .service-option .iconfont{display:none;}
.service-options .service-option.selected .iconfont{display:inherit;font-size:20px;color:var(--form-tmpl-color, --form-tmpl-color-default)}
/*.service-options .service-option.selected::before{position:absolute;display:block;content:" ";width:10px;height:3px;background:var(--form-tmpl-color,--form-tmpl-color-default);top:19px;right:13px;transform:rotate(45deg)}*/
/*.service-options .service-option.selected::after{position:absolute;display:block;content:" ";width:14px;height:3px;background:var(--form-tmpl-color,--form-tmpl-color-default);top:16px;right:3px;transform:rotate(-45deg)}*/
.form-message {color:#333}
.form-message textarea{width:100%;border:2px solid var(--form-tmpl-color, --form-tmpl-color-default);border-radius:4px;height:80px;max-height:120px;resize:none;padding:6px 12px 2px;}
.form-message textarea::-moz-placeholder{color:#111111}
.form-message textarea::-ms-input-placeholder{color:#111111}
.form-message textarea::-webkit-input-placeholder{color:#111111}
.form-message textarea::placeholder{color:#111111}
.form-phone input{border:2px solid var(--form-tmpl-color, --form-tmpl-color-default);border-radius:var(--form-tmpl-radius, --form-tmpl-radius-default);}
.form-service>span{border:2px solid var(--form-tmpl-color, --form-tmpl-color-default);border-radius:var(--form-tmpl-radius, --form-tmpl-radius-default);}
.form-select .span{cursor:pointer}
.form-select .iconfont{font-size:24px;float:right;cursor:pointer}
.form-appt .form-datetime{display:flex;line-height:40px}
.form-datetime>span{border:2px solid var(--form-tmpl-color, --form-tmpl-color-default);border-radius:var(--form-tmpl-radius, --form-tmpl-radius-default);padding-right:6px;}
.form-datetime .iconfont{font-size:20px;}
.form-datetime .form-date{margin-right:12px}
.form-datetime .form-date,.form-datetime .form-time{display:flex;justify-content:space-between;}
.form-option .option-cycle{position:relative;text-indent:20px;cursor:pointer}
.form-option .option-cycle::before{content:" ";position:absolute;display:block;width:16px;height:16px;border:1px solid var(--form-tmpl-color, --form-tmpl-color-default);border-radius:50%;top:2px}
.form-rsvp .form-service{margin-bottom:0;}
.form-rsvp .form-service span{padding:0;border:none;border-radius:unset;}
.form-rsvp .form-option{margin-top:0;}
.form-rsvp .form-option span{padding:0}
.option-cycle.selected{}
.option-cycle.selected::after{content:" ";position:absolute;display:block;width:8px;height:8px;background:var(--form-tmpl-color, --form-tmpl-color-default);border-radius:50%;top:6px;left:4px;}
.form-control.form-title{line-height:48px;font-size:20px;color:#111;font-weight:700;height:48px;margin-top:0;}
.form-title>span{padding:0;}
.con ul.ctx_subscribe{display:block}
.form-tmpl .form-date span,.form-tmpl .form-time span{display:inline-block;min-width:80px;cursor:pointer;width:calc(100% - 20px);}
.animate__animated{-webkit-animation-duration:1s;-moz-animation-duration:1s;animation-duration:1s;-moz-animation-duration:var(--animate-duration);-webkit-animation-duration:var(--animate-duration);animation-duration:var(--animate-duration);-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes fadeInUp{0%{opacity:1;-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{opacity:1;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
to{opacity:1;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
}
.animate__fadeInUp{-webkit-animation-name:fadeInUp;-moz-animation-name:fadeInUp;animation-name:fadeInUp}
@-webkit-keyframes fadeOutDown{0%{opacity:1}
to{opacity:0;-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
}
@keyframes fadeOutDown{0%{opacity:1}
to{opacity:0;-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
}
.animate__fadeOutDown{-webkit-animation-name:fadeOutDown;-moz-animation-name:fadeOutDown;animation-name:fadeOutDown}
